<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Beast Learning - Home</title>
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Software Developer</h1>
                        <p class="">Get trained, work on live projects and learn how to build applications such as Swiggy, Quora, IMDB & earn an internship certificate in 8 weeks.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Data Analyst</h1>
                        <p>Explore the power of data and its ability to power breakthrough possibilities for individuals, organisations and societies & earn an internship certificate in 8 weeks.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Marketing & Sales</h1>
                        <p>Hey there, applications for this program is closed. Meanwhile, You can browse our other programs.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-member-id text-center border">
                                
                                <h1>Bhavesh Salunkhe</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member-id text-center border">
                                
                                <h1>Shubham Sove</h1>
                                <p>Software Developer</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member-id text-center border">
                                
                                <h1>Nainesh Dusane</h1>
                                <p>Data Analyst</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Courses</h1>
                        <p>Enroll To Our Courses</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://i.ibb.co/rHb30PB/Section1-Main.jpg"
                                    alt="" />
                                <h1>Software Developer</h1>
                                <p>Get trained, work on live projects and learn how to build applications such as Swiggy, Quora, IMDB & earn an internship certificate in 8 weeks.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://i.ibb.co/HHsfLbv/data-analyst-hero.png"
                                    alt="" />
                                <h1>Data Analyst</h1>
                                <p>Explore the power of data and its ability to power breakthrough possibilities for individuals, organisations and societies & earn an internship certificate in 8 weeks.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>